<?xml version="1.0"?>
<ruleset name="Philharmony HTTP">
    <description>PSR-12 + custom rules for Philharmony framework</description>

    <!-- Проверяем только src/ и tests/ -->
    <file>src</file>
    <file>tests</file>

    <!-- Базовый стандарт — PSR-12 -->
    <rule ref="PSR12"/>

    <!-- Дополнительные правила -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="150"/>
        </properties>
    </rule>

    <!-- Игнорировать файлы (если нужно) -->
    <!-- <exclude-pattern>/build/</exclude-pattern> -->
</ruleset>
