name: Test

on:
  workflow_run:
    workflows: [Static Analysis]
    types: [completed]
    branches: [main]

jobs:
  test:
    name: PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4']
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
        php-version: ${{ matrix.php-version }}
      - run: composer install --no-progress
      - run: composer test:coverage
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report-php-${{ matrix.php-version }}
          path: coverage
